settings:
  host: 0.0.0.0
  port: 8090
  grpc_server:
    host: user_server
    port: 8079
  mongo:
    host: redis
    port: 27017
    login: root
    password: example
    db: chat
  postgres:
    host: postgres
    port: 5432
    login: postgres
    password: example
    db: chat
